.footer{
    height: 50px;
    background-color: $backgroundcolor;
    padding-top: 10px;
    text-align: center;
    &_span{
        padding: 0 10px;
        font-size: 8px;
        @media (min-width: 768px){
            padding: 0 50px;
            font-size: small;

        }
        @media (min-width: 1200px){
            padding: 0 125px;

    }
}
}
    